#App {
  width: 100%;
  height: 100%;

  position: relative;

  .maplibregl-map {
    width: 100%;
    height: 100%;
  }

  .map-ctrl-query {
    position: absolute;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    padding: 1em;
    margin: 25px 45px;
    max-height: calc(100vh - (50px + 2em));
    display: flex;
    flex-direction: column;
  }
}

.hidden {
  display: none;
}

.map-ctrl-input-form {
  /* padding: 1em; */
  border: 4px dashed #fff;

  h3 {
    margin-top: 0;
  }

  

  &.is-drag-active {
    border-color: #333;

    .drag-interactor {
      cursor: copy;
    }
  }

  .drag-interactor {
    padding: 1em;
    cursor: pointer;
  }
}

.btn-form-group {
  display: flex;
  justify-content: space-between;

  span { margin: auto; }
  pre { margin: 0; }

  input[type="text"] {
    flex-grow: 1;
  }
}
